*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* position: relative; */
    font-family: "Inter", sans-serif;
  }

nav{
    display: flex;
    flex-direction: column;
}

.pd1{
    padding: 10px 40px;
}
h1{
    font-family: Noto Serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #151B4A;
    margin-bottom: 18px;
}

.h1_sub{
    
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #4E516C;
}
/* navigation contact info css */

.header__nav--top{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    height: 30px;
    background-color: #000000;
    color: #ffffff;
}

.header__nav__top--cont{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
}
.header__nav__top--cont strong{
    font-weight: 600;
}

/* navigation menu css */
header{
    position: relative;
}
.header__nav--bottom{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7EEC6;
    height: 80px;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.header__nav--left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.line--logo{
    height: 20px;
    width: 23px;
}

.mama--logo{
    height: 36px;
    width: 155px;
}

.nav__mid--items{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.nav__mid--items li a{
    position: relative;
    
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-align: center;
    text-decoration: none;
    color: #151B4A;
    display: inline-block;
    overflow: hidden;
   
}

.nav__mid--items li a:hover::after{
    transform: translate3d(0, 0, 0);
   
}
.nav__mid--items li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color:#125D50;
    overflow: hidden;
    transform: translate3d(-100%, 0, 0);
    transition: transform 500ms;
}
 

 .mobile__nav{
    display: none;
 }



.nav__mid--items li.new{
    position: relative;
}

.nav__mid--items li.new::after{
    content: "New";
    display: flex;
    position: absolute;
    background-color: #ea5858;
    color: #ffffff;
    border-radius: 6px;
    width: 14px;
    height: 10px;
    font-size: 9px;
    font-weight: 600;
    line-height: 11px;
    letter-spacing: 0em;
    /* text-align: center; */
    left: 135px;
    top: -7px;
    PADDING: 2PX 8PX;
    justify-content: center;
    align-items: center;
}

.btn{
    border-radius: 60px;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    padding: 7px 20px;
}

.login{
   
    color:#125E50;
    border: 1px solid #125E50;
    transition: all .3s ease-in-out;
}
.login:hover{
    background-color: #fff;
    color: #125E50;

}

.signup{
     
    background-color: rgb(18, 93, 80);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    transition: all .3s ease-in-out;
}

.signup:hover{
    background-color:rgba(18, 93, 80, .8);
}

/* header content section css */
.header__content{
    /* position: sticky; */
    background-color: #FFF6CC;
    height: 620px;
    width: 100%;
    padding: 10px;
    /* clip-path: ellipse(65% 67% at 50% 26%); */
    border-radius: 0 0 50% 50%;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.header__content--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    margin: 121px auto;
}


.header__content--exploreBtn{
    background-color: #125D50;
    color: #fff;
    padding: 10px 30px;
    margin-bottom: 40px;
    transition: all .3s ease-in-out;
}
.header__content--exploreBtn:hover{
    background-color:rgba(18, 93, 80, .8);;
}
.head__img{
    position: relative;
}

.header__content--mainHeader{
    font-family: Noto Serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #151B4A;
    margin-bottom: 20px;
}
.header__content--sub{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4E516C;
    margin-bottom: 40px;
    padding: 0 10%;
   
}

.header__content--assessmentText{
    height: 54px;
    width: 373px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #4E516C;
}

.star--left{
    position: absolute;
    width: 21.74px;
    height: 24.51px;
    left: 211px;
    top: 157.27px;
    /* background: #151B4A; */
    transform: rotate(-16.76deg);
}
.star--right{
    position: absolute;
    width: 36.9px;
    height: 50.3px;
    right: 207px;
    top: 142px;

}
.zigzag{
    position: absolute;
    width: 163.45px;
    height: 19px;
    right: 131px;
    top: 112px;
    transform: rotate(0.47deg);
}
.button__img--container{
    position: relative;
}
.round--arrow{
    position: absolute;
    width: 83.95px;
    height: 65.15px;
    left: 196px;
    top: -42px;
    transform: rotate(-7.72deg);
}

.left{

    position: absolute;
    width: 297.42px;
    height: 307.11px;
    left: 25.23px;
    top: 334.28px;
    transform: rotate(-0.1deg);

}

.right{
    position: absolute;
    height: 280.7861064056397px;
    width: 196.4209776070549px;
    right: 104px;
    top: 398.821289px;
    transform: rotate(1.26deg);
}

/* programs section  styling css */


.program__container--inner{
    margin: 89px 29px;
    width: 1308px;
    height: 924px;
    background: #E4F7F3;
    border-radius: 20px;
    margin: 0 auto;
    clip-path: polygon(0 7%, 100% 16%, 100% 100%, 0% 100%);
}
.program__header--container{
    padding: 152px 0px;
    width: 766px;
    height: 127.28px;
    margin: 0 auto;
}




.program__img--container{
    position: relative;
}
.program__types{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
}
.program__type{
     
    width: 302px;
}

.frame{
    
    height: 294px;
    width: 294px;
 }
 .programe__img{
    position: absolute;
    width: 246px;
    height: 246px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 .program__type--title{
   font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #151B4A;
    margin-bottom: 10px;
 }
 .program__type--details{
    
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #4E516C;
    margin-bottom: 15px;

 }
 .program__content{
    padding: 10px;
 }

 .program__link{
    color: #EA5858;
    text-decoration: none;
    transition: all .9s ease-in;
    
 }

 .program__link:hover{
    text-decoration: underline;
 }

 /* how do we work section css */


 .howdo__container{
    width: 1155.01px;
    height: 693px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin: 100px auto;
 }
 .howdo__header--container{
     /* padding: 152px 0px; */
    width: 705px;
    
   
 }
 .howdo__heading{
    width: 705px;
   
 }
 .howdo__diagram--full{
    width: 1155.01px;
    height: 504px;
 }

 .whoarewe__container{
    display: none;
 }

 /* Get more question section css */

 .question__container{
    width: 1286px;
    height: 817px;
     display: flex;
    flex-direction: column;
     
    align-items: center;
    margin: 100px auto;
    background-image: url(./assets/images/question_bg.png);
    background-size: cover;
 }
 .question__header--container{
    padding: 60px 0;
    width: 634px;
 }
 .question__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }

 .question__form label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 10px;
    color: #4E516C;
}
.question__form input,select{
    width: 301px;
    height: 45px;
    border: 1px solid #CAC5C5;
    border-radius: 5px;
}
.question__form input,select::placeholder{
    
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.04em;
    padding: 0 10px;
    color:#B3B3B9;
}

.email__container{
    grid-column: 1/3;
}
.email__container input{
    width: 100%;
}

select:invalid{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.04em;
    padding: 0 10px;
    color: #B3B3B9;
}


 .form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0 40px;
    border-radius: 14px;

}
.form__heading{
    
   
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

 .form__top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap:22px;
    column-gap: 20px;
 }

 .form__submition{
    margin:52px 0 10px 0;
    background: #125E50;
    color: #fff;
    padding: 10px 30px;
    transition: all .3s ease-in-out;
 }

 .form__submition:hover{
    background-color:rgba(18, 93, 80, .8);
 }

 .form__info{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #4E516C;
    margin-bottom: 39px;
}
 
/* plans and packages css */

.plans__container{
    width: 1073px;
    height: 714px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
     
}

.plans__header--container{
    padding: 60px 0;
    width: 634px;
}
.plans__tabs--container{
    display: flex;
    flex-direction: column;
    gap: 6.5px;
}

.plans__tabs--nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 17px;
}
.plans__tab{
    width: 250px;
    height: 115px;
    display: flex;
    flex-direction: column;
    background-color: #FFF9E1;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.plans__price{
   
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #151B4A;
}

.plans__info{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #151B4A;
}
.tabs__content--container{
    border: 1px solid #FFCC00;
}
.plans__tabs--content{
    padding: 0 28px;
}
.tabs__content--heading{
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.04em;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 40px;
}
.content__items{
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    justify-items: center;
    column-gap: 15px;
    /* row-gap: 30px; */
}


 
.tabs__content--includes ul,li{
    padding: 0;
    margin: 0;
}

.content__item{
     
font-size: 16px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0.04em;
text-align: center;
justify-self: left;
margin-bottom: 30px;

}
.enroll_btn{
    margin:52px 0 10px 0;
    background: #125E50;
    color: #fff;
    padding: 10px 30px;
    transition: all .3s ease-in-out;
}
 

.enroll_btn:hover{
    background-color:rgba(18, 93, 80, .8);
 }

.active{
    background-color: #FFCC00;
    transform: scaleY(1.1);
}
 
.hide{
    display: none;
}
.show{
    display: block;
}

/* contact css */

.contact__container{
    width: 1073px;
    /* height: 714px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    position: relative;
    background-image: url(./assets/images/contact_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
 
.contact__logo{
    height: 36px;
    width: 155px;
    margin-bottom: 40px;
    
}
.contact__top{
    padding: 40px 70px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 62px;
}

.contact__heading{
 
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #151B4A;
}
.contact__text{
    
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    margin: 15px 0 30px 0;
    color: #4E516C;
}
.social-links{
    list-style: none;
    display: flex;
    gap:13px;
}

.social-links img{
    width: 23px;
    height: 23px;
}

.contact__footer--title{
   
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #151B4A;
margin-bottom: 15px;

}
.contact__footer--items{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact__item a{
    text-decoration: none; 
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4E516C;
    transition: all .3s ease-in-out;
}
.contact__item a:hover{
    text-decoration: underline;
}

.contact__top--right{
    display: flex;
    gap: 85px;
}
.contact__line{
   width: 87%;
}
.copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4e516c;
  }
  
.contact__copyright {
    margin: 35px 0;
  }
  
.contact__child {
    position: absolute;
    width: 169.78px;
    height: 144.52px;
    left: 79%;
    top: 48%;
    }

.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10000;
}
